<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Formulario</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <app-form-exercise [form]="formToExercise" (clickSubmit)="confirm($event)"></app-form-exercise>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
