<!-- Calendario con dias de la semana y sus rutinas asignadas -->
 <app-weekly-calendar></app-weekly-calendar>
<!---->

<!-- Contenedor de rutinas -->
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- Lista de rutinas -->
        <app-routines-list [routines]="routines"></app-routines-list> 
        <!---->
      </div>
    </div>
    <!-- Paginación -->
    <div class="swiper-pagination"></div>
    <!-- Botones de navegación -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
<!---->

<!-- Boton para volver atras -->
<ion-button (click)="goBack()">Volver</ion-button>   
<!---->
