<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">Volver</ion-button>
    </ion-buttons>

    <ion-title>Plan semanal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scheduler-content">
  <!-- Calendario semanal -->
  <app-weekly-calendar></app-weekly-calendar>

  <!-- Separador -->
  <div class="section-title">Rutinas disponibles</div>

  <!-- Rutinas -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-routines-list [routines]="routines"></app-routines-list>
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</ion-content>
