<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">Volver</ion-button>
    </ion-buttons>

    <ion-title>Mis rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="my-routines-content">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-routines-list [routines]="routines"></app-routines-list>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</ion-content>
