<ion-header translucent>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="danger" (click)="closeSession()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="menu-content">
  <div class="menu-container">
    <div class="menu-grid">
      <button class="menu-card" (click)="goToCreateRoutine()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <span>Create routine</span>
      </button>

      <button class="menu-card" (click)="goToMyRoutines()">
        <ion-icon name="barbell-outline"></ion-icon>
        <span>My routines</span>
      </button>

      <button class="menu-card" (click)="goToExercises()">
        <ion-icon name="fitness-outline"></ion-icon>
        <span>Exercises</span>
      </button>

      <button class="menu-card" (click)="goToMyProgress()">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <span>Progress</span>
      </button>

      <button class="menu-card" (click)="goToCalendary()">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>Calendar</span>
      </button>
    </div>
  </div>
</ion-content>
