<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Create routine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="create-content">
  <!-- Select exercises -->
  <section class="section">
    <h3>Select exercises</h3>

    <div class="swiper-container-to-select">
      <div class="swiper-wrapper">
        @for (exercise of exercises; track exercise.id) {
        <div class="swiper-slide">
          <app-exercise-card
            [exercise]="exercise"
            (cardClick)="onCardClick($event)"
          >
          </app-exercise-card>
        </div>
        }
      </div>

      <div class="swiper-pagination swiper-pagination-to-select"></div>
    </div>
  </section>

  <!-- Selected exercises -->
  <section class="section">
    <h3>Selected exercises</h3>

    <div class="swiper-container-selected">
      <div class="swiper-wrapper">
        @for (repsExercise of selectedExercises; track repsExercise.exercise.id)
        {
        <div class="swiper-slide">
          <app-selected-exercise-card
            [repsExercise]="repsExercise"
            (cardClick)="onDeleteCardClick($event)"
          >
          </app-selected-exercise-card>
        </div>
        }
      </div>

      <div class="swiper-pagination swiper-selected-pagination"></div>
    </div>
  </section>

  <!-- Routine form -->
  <section class="section">
    <h3>Routine details</h3>
    <app-form-routine (submitRoutineForm)="onSubmitFinishRoutine($event)">
    </app-form-routine>
  </section>

  <app-modal-form-exercise (formSubmitted)="onCardClickSubmit($event)">
  </app-modal-form-exercise>
</ion-content>
