<ion-header>
  <ion-toolbar>
    <ion-title>Crear Rutina</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Contenedor de ejercicios para seleccionar -->
  <div class="swiper-container-to-select">
    <div class="swiper-wrapper">
      @for (exercise of exercises; track exercise.id) {
        <div class="swiper-slide">
          <app-exercise-card [exercise]="exercise" (cardClick)="onCardClick($event)" ></app-exercise-card>
        </div>
      }
    </div>
    <!-- Paginación -->
    <div class="swiper-pagination swiper-pagination-to-select"></div>
    <!-- Botones de navegación -->
    <div class="swiper-button-next swiper-to-select-button-next"></div>
    <div class="swiper-button-prev swiper-to-select-button-prev"></div>
  </div>
  <!---->

  <!-- Contenedor de ejercicios seleccionados -->
  <div class="swiper-container-selected">
    <div class="swiper-wrapper">
      @for (repsExercise of selectedExercises; track repsExercise.exercise.id) {
        <div class="swiper-slide">
          <app-selected-exercise-card [repsExercise]="repsExercise" (cardClick)="onDeleteCardClick($event)"></app-selected-exercise-card>
        </div>
      }
    </div>
    <!-- Paginación -->
    <div class="swiper-pagination swiper-selected-pagination"></div>
    <!-- Botones de navegación -->
    <div class="swiper-button-next swiper-selected-button-next"></div>
    <div class="swiper-button-prev swiper-selected-button-prev"></div>
  </div>
  <!---->

  <!-- Formulario modal de repeticiones, series y peso relacionado al ejercicio -->
  <app-modal-form-exercise (formSubmitted)="onCardClickSubmit($event)"></app-modal-form-exercise>
  <!---->
  
  <!-- Formulario para la rutina -->
  <form [formGroup]="formRoutine">

    <ion-item>
      <ion-label position="floating">Nombre rutina</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    @if (formRoutine.get('name')?.touched && formRoutine.get('name')?.invalid) {
      <div>
        <ion-text color="danger">
          @if (formToExercise.get('name')?.hasError('required')) {
            <p>El campo nombre es obligatorio.</p>
          }
        </ion-text>
      </div>
    }

    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="formToExercise.invalid">Enviar</ion-button>
    
  </form>

  <!-- Boton para crear la rutina con los ejercicios seleccionados -->
  <ion-button (click)="onSubmitFinishRoutine()">Crear rutina</ion-button>

  <!-- Boton para volver atras -->
  <ion-button (click)="goBack()">Volver</ion-button>   

</ion-content>

