form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ion-item {
  --background: #111827;
  --border-radius: 12px;
  --border-color: transparent;
  --highlight-color-focused: #22c55e;
  margin-bottom: 4px;
}

ion-label {
  color: #9ca3af;
}

ion-input {
  color: #e5e7eb;
}

ion-text {
  font-size: 0.75rem;
  margin-left: 8px;
}

ion-button {
  margin-top: 16px;
  height: 48px;
  border-radius: 12px;
  font-weight: 600;

  --background: #22c55e;
  --background-hover: #16a34a;
  --color: #022c22;
}
